<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Grupo/</span> Criar Grupo</h4>

<!-- Basic Layout -->
<div class="row">
  <div class="col-xl">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Criar Grupo</h5> <small class="text-muted float-end">Default label</small>
      </div>
      <div class="card-body">
        {% include 'toast.html' %}
        <form hx-post="/grupo" hx-trigger="submit" hx-target="#content">
          <div class="mb-3">
            <label class="form-label" for="basic-default-fullname">Nome</label>
            <input type="text" name="nome" class="form-control" id="basic-default-fullname" placeholder="Nome do Grupo">
          </div>
          <div class="mb-3">
            <label class="form-label" for="basic-default-company">Nome para Exibição</label>
            <input type="text" name="exibicao" class="form-control" id="basic-default-company" placeholder="Nome a ser exibido">
          </div>
          <button type="submit" value="submit" class="btn btn-primary">Criar</button>
        </form>
      </div>
    </div>
  </div>
</div>

