<li class="menu-item active">
  <a hx-get="/dashboard" hx-target="#content" href="#" class="menu-link">
    <i class="menu-icon tf-icons bx bx-collection"></i>
    <div data-i18n="dashboard">Dashboard</div>
  </a>
</li>
<li class="menu-item">
  <a hx-get="/grupo" hx-target="#content" href="#" class="menu-link">
    <i class="menu-icon tf-icons bx bx-collection"></i>
    <div data-i18n="create group">Criar Grupo</div>
  </a>
</li>
<li class="menu-item">
  <a hx-get="/macroprocesso" hx-target="#content" href="#" class="menu-link">
    <i class="menu-icon tf-icons bx bx-collection"></i>
    <div data-i18n="create group">Criar Macroprocesso</div>
  </a>
</li>
{% for grupo in grupos %}
  {% if grupo.macroprocessos %}
    <li class="menu-item">
      <a hx-get={{"grupo/" + grupo.id | string }} hx-target="#content" href="#" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-dock-top"></i>
        <div data-i18n="{{grupo.nome}}">{{grupo.nome_exibicao}}</div>
      </a>
      <ul class="menu-sub">
        {% for macro in grupo.macroprocessos %}
          <li id={{"macro" + macro.id | string}} class="menu-item">
          <a hx-get={{"macroprocesso/" + macro.id | string }} hx-target="#content" href="#" class="menu-link">
            <div data-i18n="{{macro.nome}}">{{macro.nome_exibicao}}</div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </li>
  {% else %}
    <li class="menu-item">
      <a hx-get={{"grupo/" + grupo.id | string }} hx-target="#content" href="#" class="menu-link">
        <i class="menu-icon tf-icons bx bx-collection"></i>
        <div data-i18n="{{grupo.nome}}">{{grupo.nome_exibicao}}</div>
      </a>
    </li>
  {% endif %}
{% endfor %}
<!-- <li class="menu-item active"> -->
<!--   <a hx-get="/dashboard" hx-target="#content" href="#" class="menu-link"> -->
<!--     <i class="menu-icon tf-icons bx bx-collection"></i> -->
<!--     <div data-i18n="Basic">Dashboard</div> -->
<!--   </a> -->
<!-- </li> -->
<!-- <li class="menu-item"> -->
<!--   <a hx-get="/layouts" hx-target="#content" href="#" class="menu-link"> -->
<!--     <i class="menu-icon tf-icons bx bx-collection"></i> -->
<!--     <div data-i18n="Basic">Layouts</div> -->
<!--   </a> -->
<!-- </li> -->



<!--

  Basic templates

  Simple link:
  -----------
  <li class="menu-item">
    <a href="cards-basic.html" class="menu-link">
      <i class="menu-icon tf-icons bx bx-collection"></i>
      <div data-i18n="Basic">Cards</div>
    </a>
  </li>

  Link with subitems:
  ------------------
  <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bx bx-dock-top"></i>
      <div data-i18n="Account Settings">Account Settings</div>
    </a>
    <ul class="menu-sub">
      <li class="menu-item">
        <a href="pages-account-settings-account.html" class="menu-link">
          <div data-i18n="Account">Account</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="pages-account-settings-notifications.html" class="menu-link">
          <div data-i18n="Notifications">Notifications</div>
        </a>
      </li>
    </ul>
  </li>

  Section:
  -------
  <li class="menu-header small text-uppercase">
    <span class="menu-header-text">Pages</span>
  </li>

-->

